.button {
	cursor: pointer;
	font-family: $ff;
	font-style: normal;
	font-weight: $fw-semibold;
	font-size: 15px;
	line-height: $lh;
	color: $accent;
	border: 2px solid $accent;
	padding: 18px 41px;
	border-radius: $bord;
	text-align: center;
	transition: background-color ease $tr,
				color ease $tr;

	&:hover {
		background-color: $accent;
		color: $white;
	}
}

.dark-button {
	padding: 10px 20px;
	font-family: $ff;
	font-style: normal;
	font-weight: $fw-semibold;
	font-size: 15px;
	background-color: $accent;
	line-height: $lh;
	color: $white;
	border-radius: $bord;
	transition: background-color ease $tr;
	text-align: center;

	&:hover {
		background-color: $dark;
	}
}

.burger-button {
	cursor: pointer;
	position: relative;
	width: 40px;
	height: 25px;
	transition: opacity ease $tr;
	margin-left: auto;

	&.opened {
		span {
			top: 10px;
			background: $accent;
			
			animation: rot 0.5s forwards;

			@keyframes rot {
				0% {
					transform: rotate( 0 );
				}

				100% {
					transform: rotate( -45deg );
				}
			}
		}

		span::before {
			opacity: 0;
		}

		span::after {
			background: $accent;
			top: 0;
			animation: angle 0.5s forwards;

			@keyframes angle {
				0% {
					transform: rotate( 0 );
				}

				100% {
					transform: rotate( 90deg );	
				}
			}
		}
	}

	&:hover {
		opacity: $op;
	}

	@media all and (min-width: $lg) {
		display: none;
	}

	span {
		position: absolute;
		width: 100%;
		height: 4px;
		background-color: $grey;
		top: 0;
		left: 0;
		border-radius: $bord;

		&::before, &::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: $grey;
			border-radius: $bord;
		}

		&::before {
			top: 10px;
		}

		&::after {
			top: 20px;
		}
	}
}

.prev, .next {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	z-index: 20;
	cursor: pointer;
	background-color: $light;
	border-radius: 50%;
	transition: background-color ease $tr;
	transform: translateY(-50%);

	@media all and (min-width: $md) {
		top: 47.5%;
		width: 62px;
		height: 62px;
	}

	&.white-prev, &.white-next, &.media-prev, &.media-next, &.press-next, &.press-prev {
		background-color: $white;
		border: 2px solid $accent;

		span {
			border-color: $accent;
		}
	}

	&:hover {
		background-color: $accent;

		span {
			border-color: $white;
		}
	}

	span {
		position: absolute;
		top: 50%;
		left: 55%;
		transform: translate( -50%,-50% )
					rotate( -135deg);
		width: 10px;
		height: 10px;
		border-top: 2px solid $grey;
		border-right: 2px solid $grey;
		display: inline-block;
		transition: border-color ease $tr;

		@media all and (min-width: $md) {
			width: 20px;
			height: 20px;
		}
	}
}

.prev {
	left: 0;
}

.next {
	right: 0;
	transform: rotate( 180deg ) 
		translateY(50%);
}

.swiper-button-prev, .swiper-button-next {
	display: none;
	color: $accent;
	scale: 0.6;

	@media all and (min-width: $lg) {
		display: block;
	}
}

.benefit-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	border-style: none;
	width: 100%;
	max-width: 318px;
	height: 42px;
	background: #00CD58;
	font-family: $ff;
	font-weight: $fw-semibold;
	font-size: 16px;
	line-height: 21px;
	color: $white;
	cursor: pointer;
	transition: opacity ease $tr;

	@media all and (min-width: $m) {
		width: 318px;
	}

	&:hover {
		opacity:  $op;
	}
}