// Grid.
$xs	: 375px;
$sm	: 480px;
$m	: 576px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1440px;

// Container padding.
$container-padding: 20px;

// Font families.
$ff			: 'Montserrat', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;

// Line heights.
$lh					: 1.4;
$lh-title			: 1.31;


// Colors.
$white	: #FFFFFF;
$black	: #000000;
$wheat  : #F5F7F9;
$span   : #E4E9F5;
$light  : #D6E0EA;
$medium : #A4B4C3;
$grey   : #81909F;
$dark   : #48577A;
$accent : #5575C1;

//bg
$bef    : #F6F7F9;

// Others.
$tr   : 0.35s;
$bord : 12px;
$op   : 0.7;
