.blef-price {
	padding: 20px 0;
	background-color: $bef;

	@media all and (min-width: $xl) {
		padding: 68px 0 60px;
	}

	&.bg {
		background-color: $white;
		padding: 57px 0 0;

		h2 {
			margin-bottom: 45px;
		}
	}

	.container {
		max-width: 882px;
	}

	h2 {
		margin-bottom: 53px;
	}

	.popular-title {
		font-size: 22px;

		@media all and (min-width: $xl) {
			font-size: 28px;
		}
	}

	.dropdown {
		margin-bottom: 24px;

		&-title {
			border: 1px solid $accent;
			border-radius: $bord;
			transition: border-radius ease $tr;
			padding: 22px 28px 17px 35px;
			display: flex;
			justify-content: space-between;
			cursor: pointer;
			
			span {
				width: 20px;
				height: 20px;
				border-top: 2px solid $accent;
				border-right: 2px solid $accent;
				transform: rotate( 135deg );
				transition: transform ease $tr;
			}

			&.bord {
				border-top-left-radius: 0;
				border-top-right-radius: 0;

				&.last{
					border-bottom-left-radius: $bord;
					border-bottom-right-radius: $bord;
				}
			}
		}

		&-list {
			border: 1px solid $accent;
			padding: 22px 21px 23px 35px;

			&-title {
				font-family: $ff;
				font-style: normal;
				font-weight: $fw-regular;
				font-size: 16px;
				line-height: $lh;
				color: $dark;
				margin-bottom: 25px;
			}

			&-item {
				list-style: decimal;
				font-family: $ff;
				font-style: normal;
				font-weight: $fw-regular;
				font-size: 16px;
				line-height: $lh;
				color: $dark;
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}

				&.no-num {
					list-style: none;
				}
			}
		}

		&.popular {
			margin-bottom: 0;

			.dropdown-title {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;

				&.bord {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
	
					&.last{
						border-bottom-left-radius: $bord;
						border-bottom-right-radius: $bord;
					}
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		.price-start {
			max-width: 80%;
		}

		&.opened {

			.dropdown-title {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;

				span {
					transform: rotate( -45deg );
				}

				&.bord.last {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			.dropdown-list.last-list {
					border-bottom-left-radius: $bord;
					border-bottom-right-radius: $bord;
			}

			.inner-item {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;

				&:last-child {
					border-bottom-left-radius: $bord;
					border-bottom-right-radius: $bord;
				}
			}
		}
	}

	.price-start, .inner-item { 
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-semibold;
		font-size: 16px;
		line-height: $lh;
		color: $accent;

		@media all and (min-width: $md) {
			font-size: 20px;
		}
	}

	.inner-item {
		display: flex;
		justify-content: space-between;
		padding: 22px 28px 22px 35px;
		border: 1px solid $accent;
		border-radius: $bord;
	}

	.inner-title {
		width: 66%;
		font-size: 14px;

		@media all and (min-width: $md) {
			font-size: 15px;
		}

		@media all and (min-width: $xl) {
			font-size: 20px;
		}
	}

	.inner-value {
		font-size: 12px;
		display: flex;
		justify-content: flex-end;
		width: 34%;
		text-align: right;
		font-weight: $fw-medium;

		@media all and (min-width: $md) {
			font-size: 15px;

			br {
				display: none;
			}
		}

		@media all and (min-width: $xl) {
			font-size: 20px;
		}
	}

	.dropdown-open {
		overflow: hidden;
		height: 0;
		transition: height ease $tr;
	}

	.button-wrapper {
		display: flex;
		justify-content: center;
		margin-top: 43px;
	}

	.price-button {
		font-weight: $fw-semibold;
		font-size: 20px;
		padding: 18px 64px;
	}
}