.blepharoplasty-page, .rhyno-page, .waist-page, .bust-page {
	.hero {
		position: relative;
		width: 100vw;
		padding: 32.7vh 0 57px 0;
		background-image: url( '../img/blepharoplasty/hero/hero-bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: 0;

		.container {
			max-width: 1100px;
		}

		&-texts {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-bottom: 48px;

			@media all and (min-width: $md) {
				flex-direction: row;
			}
		}

		&-text {
			font-family: $ff;
			font-style: normal;
			font-weight: $fw-regular;
			font-size: 14px;
			line-height: $lh;
			text-align: center;
			color: #FFFFFF;
			width: 100%;
			padding: 0 5px;
			margin-bottom: 20px;

			@media all and (min-width: $md) {
				width: 33.333%;
			}

			@media all and (min-width: $lg) {
				font-size: 18px;
				width: 33.333%;
			}
		}
	}
}

