.blepharoplasty-page, .rhyno-page, .waist-page, .bust-page {
	.hero {
		position: relative;
		width: 100vw;
		padding: 32.7vh 0 57px 0;
		background-image: url( '../img/blepharoplasty/hero/hero-bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: 0;

		.container {
			max-width: 1100px;
		}

		&-texts {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-bottom: 48px;

			@media all and (min-width: $md) {
				flex-direction: row;
			}
		}

		&-text {
			font-family: $ff;
			font-style: normal;
			font-weight: $fw-regular;
			font-size: 14px;
			line-height: $lh;
			text-align: center;
			color: #FFFFFF;
			width: 100%;
			padding: 0 5px;
			margin-bottom: 20px;

			@media all and (min-width: $md) {
				width: 33.333%;
			}

			@media all and (min-width: $lg) {
				font-size: 18px;
				width: 33.333%;
			}
		}
	}
}

.face-page {

	.face-hero {
		position: relative;
		width: 100vw;
		padding: 32.7vh 0 57px 0;
		background-image: url( '../img/blepharoplasty/hero/hero-bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: 0;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100%;
			background: linear-gradient(0deg, #000000 -4.1%, rgba(0, 0, 0, 0) 100%);
			opacity: 0.85;
			z-index: -1;
		}

		.container {
			max-width: 1100px;
		}
	}

	.hero-texts {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 48px;

		@media all and (min-width: $m) {
			flex-direction: row;
		}
	}

	.hero-text {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 14px;
		line-height: $lh;
		color: #FFFFFF;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
		padding: 0 10px;

		@media all and (min-width: $m) {
			margin-bottom: 0;
		}

		@media all and (min-width: $lg) {
			font-size: 18px;
		}
	}

	h1 {
		text-align: center;
		color: $white;
		margin-bottom: 43px;
	}

	.hero-button {
		margin-bottom: 17px;

		@media all and (min-width: $lg) {
			font-size: 20px;
			padding: 18px 60.5px;
		}
	}

	.button-subtitle {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 12px;
		line-height: 15px;
		color: $white;
	}
}

