.recovery {
	padding: 56px 0 77px;

	.container {
		max-width: 750px;
	}

	h2 {
		margin-bottom: 40px;
	}

	&-video {
		display: flex;
		justify-content: center;

		&-wrapper {
			width: 250px;
			height: 400px;

			@media all and (min-width: $m) {
				width: 300px;
				height: 500px;
			}
		
			@media all and (min-width: $lg) {
				width: 364px;
				height: 652px;
			}
		}
	}
}