.result {
	padding: 30px 0;

	@media all and (min-width: $xl) {
		padding: 54px 0 64px;
	}
	
	.container {
		max-width: 1040px;
	}

	h3 {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-semibold;
		font-size: 22px;
		line-height: 140%;
		text-align: center;
		color: $accent;
		margin-bottom: 47px;

		@media all and (min-width: $lg) {
			font-size: 28px;
		}
	}

	&-items {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}
	}

	&-video {
		position: relative;
		width: 100%;
		order: 2;

		@media all and (min-width: $lg) {
			order: 1;
			width: 37%;
		}

		img {
			margin: 0 auto;
		}
	}

	&-info {
		display: flex;
		flex-direction: column;
		align-items: center;
	
		width: 100%;
		margin-bottom: 30px;
		order: 1;

		@media all and (min-width: $lg) {
			order: 2;
			margin-left: 90px;
			width: calc( 63% - 90px );
			margin-bottom: 0;
			align-items: flex-start;
		}
	}
	&-title, &-item {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-medium;
		font-size: 18px;
		line-height: $lh;
		color: $black;

		@media all and (min-width: $lg) {
			font-size: 20px;
		}
	}

	&-title {
		margin-bottom: 27px;
	}

	&-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&-num {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 23px;
		height: 23px;
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 14px;
		line-height: 17px;
		color: #5575C1;
		border: 1px solid #5575C1;
		padding: 10px;
		border-radius: 50%;
		margin-right: 18px;
	}

	&-item {
		display: flex;
		align-items: flex-start;
		font-weight: $fw-regular;
		margin-bottom: 23px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-button {
		margin-top: 30px;
		font-size: 15px;
		max-width: 334px;

		@media all and (min-width: $lg) {
			font-size: 20px;
			margin-top: auto;
		}
	}
}