.rhino-slider {
	padding: 30px 0;

	@media all and (min-width: $xl) {
		padding: 63px 0 38px;

	}

	.container {
		max-width: 1200px;
	}

	h2 {
		margin-bottom: 50px;
	}

	.blef-video {
		@media all and (min-width: $lg) {
			padding: 0 70px;
		}


		@media all and (min-width: $xl) {
			padding: 0 140px;
		}

		&-box {
			width: 250px;
			height: 400px;

			@media all and (min-width: $md) {
				width: 345px;
				height: 614px;
			}
		}
	}

	.rhino-swiper {
		position: relative;
	}

	.white-next, .white-prev {
		position: absolute;
		top: 50%;
	}

	.white-prev {
		left: 0;
	}

	.white-next {
		right: 0;
	}

	.swiper-pagination {
		bottom: 0;
		z-index: -1;

		@media all and (min-width: $lg) {
			bottom: 70px;
		}
	}
}

.rhino-slide {
	height: 75vw;

	@media all and (min-width: $m) {
		height: 50vw;
	}

	@media all and (min-width: $md) {
		height: 32vw;
	}

	@media all and (min-width: $xl) {
		height: 366px;
	}
}

.work-page {

	.rhino-slider {
		padding: 30px 0;
		

		@media all and (min-width: $xl) {
			padding: 53px 0 38px;
		}
	}

	.history-title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 140%;
		text-align: center;
		color: #48577A;
	}
}