.bust-page {
	.before-after {
		padding: 40px 0;

		@media all and (min-width: $xl) {
			padding: 60px 0;
		}
	}

	.rhino-slider {
		.white-next.desktop-button {
			@media all and (min-width: $lg) {
				right: 10px;
			}
		}
	}
}