.media {
	padding: 37px 0 25px;
	
	.container {
		max-width: 1200px;
	}

	h2 {
		margin-bottom: 59px;
	}

	&-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 280px;
		height: 200px;

		@media all and (min-width: $sm) {
			width: 380px;
			height: 300px;
		}

		@media all and (min-width: $xl) {
			width: 947px;
			height: 465px;
		}

		img {
			object-fit: cover;
			width: 280px;
			height: 200px;

			@media all and (min-width: $sm) {
				width: 380px;
				height: 300px;
			}
	
			@media all and (min-width: $xl) {
				width: 947px;
				height: 465px;
			}
		}
	}

	.media-pagination {
		display: flex;
		justify-content: center;
		position: relative;
		bottom: 0;
	}
}