.before {
	padding: 30px 0;
	background-color: $bef;

	@media all and (min-width: $xl) {
		padding: 81px 0 57px;
	}

	.container {
		max-width: 1200px;
	}

	h2 {
		margin-bottom: 39px;
	}

	&-items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 -14px;
	}

	&-item {
		padding: 0 14px;
		width: calc( 100% / 1 );
		margin-bottom: 75px;

		&:last-child {
			margin-bottom: 0;
		}

		@media all and (min-width: $m) {
			width: calc( 100% / 2 );
		}

		@media all and (min-width: $md) {
			width: calc( 100% / 3 );
		}
	}

	&-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		
	}

	&-img {
		height: 250px;

		@media all and (min-width: $md) {
			height: 200px;
		}

		@media all and (min-width: $lg) {
			height: 300px;
		}

		@media all and (min-width: $xxl) {
			height: 316px;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&-title {
		width: 100%;
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-medium;
		font-size: 18px;
		line-height: $lh-title;
		color: $accent;
		text-align: center;
		background: $white;
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 12px;
		padding: 13px 29px;
		transition: background-color ease $tr,
				color ease $tr;

		&:hover {
			background-color: $accent;
			color: $white;
		}
	}

	&-button {
		min-width: 180px;
		padding: 6.5px 8px;
		font-size: 9px;
		border-radius: 6px;

		@media all and (min-width: $lg) {
			min-width: 150px;
		}

		@media all and (min-width: $xl) {
			min-width: 209px;
		}
	}
}