.hero {
	position: relative;
	width: 100vw;
	padding: 45.4vh 0 54px 0;
	background-image: url( '../img/home/hero/hero-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 0;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		background: linear-gradient(0deg, #000000 -4.1%, rgba(0, 0, 0, 0) 100%);
		opacity: 0.85;
		z-index: -1;
	}

	.container {
		max-width: 1000px;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h1 {
		text-align: center;
		color: $white;
		margin-bottom: 43px;
	}

	.hero-button {
		margin-bottom: 17px;
	}

	.button-subtitle {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 12px;
		line-height: 15px;
		color: $white;
	}
}