.main-tabs {
	padding: 30px 0;

	@media all and (min-width: $xl) {
		padding: 72px 0 68px;
	}

	.container {
		max-width: 800px;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}
	}

	&-links {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		order: 2;

		@media all and (min-width: $lg) {
			order: 1;
			margin-right: 60px;
			padding: 55px 0 78px 76px;
			align-items: flex-start;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				width: calc(100% + 238px);
				height: 87%;
				border: 2px solid $accent;
				border-radius: 24px;
				z-index: -1;
			}
		}
	}

	.main-tab {
		position: relative;
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-semibold;
		font-size: 22px;
		line-height: $lh-title;
		color: $medium;
		padding-left: 20px;
		margin-bottom: 20px;
		cursor: pointer;
		transition: color ease $tr;

		@media all and (min-width: $md) {
			font-size: 25px;
		}

		@media all and (min-width: $lg) {
			font-size: 32px;
		}

		&.active {
			color: $accent;

			&:last-child {
				margin-bottom: 0;
			}
	
			&::before {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY( -50% );
				content: "";
				display: block;
				width: 4px;
				height: 40px;
				background: $accent;
			}
		}
	}

	.links-wrapper {
		display: none;
		flex-direction: column;
		margin: 20px 0 20px;
		min-height: 117px;

		@media all and (min-width: $lg) {
			margin: 46px 0 121px;
		}

		&.active {
			display: flex;

			.main-tab-link {
				animation: marg $tr forwards;

				@keyframes marg {
					0% {
						margin: 0;
					}
					100% {
						margin-bottom: 17px;
					}
				}
			}
		}
	}

	.main-tab-link {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-medium;
		font-size: 14px;
		line-height: 22px;
		color: $medium;
		margin-bottom: 17px;
		transition: color ease $tr;

		@media all and (min-width: $md) {
			font-size: 16px;
		}

		@media all and (min-width: $lg) {
			font-size: 18px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			color: $accent;
		}
	}

	.tabs-button {
		padding: 15px 31px;
		font-size: 16px;
	}

	&-img {
		padding-top: 42px;
		position: relative;
		order: 1;
		margin-bottom: 30px;

		@media all and (min-width: $lg) {
			margin-bottom: 0;
			order: 2;
		}
	}

	.image-to-change {
		display: none;
		margin: 0 auto;
		width: 250px;
		height: 400px;
		object-fit: cover;

		@media all and (min-width: $m) {
			width: 300px;
			height: 500px;
		}

		@media all and (min-width: $lg) {
			width: 342px;
			height: 612px;
		}

		&.active {
			display: block;
		}
	}
}