.popup-wrapper, .add-popup-wrapper {
	position:fixed;
	display:none;
	align-items:center;
	justify-content:center;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index: 200;
	overflow-y: auto;
	padding: 20px;
	background: rgba(17, 17, 17, 0.767);

	&.showed {
		display: flex;
	}

	.popup, .add-popup {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 10px;
		margin: auto 0;
		background: $bef;
		max-width: 740px;

		@media all and (min-width: $lg) {
			padding: 50px;
		}
	}

	.container {
		max-width: 780px;
	}

	.popup-close {
		position: absolute;
		right: 20px;
		top: 20px;
		width: 15px;
		height: 15px;
		cursor: pointer;
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}

		span {
			display: block;
			width: 100%;
			height: 2px;
			background: $black;
			transform: rotate( 45deg );

			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				background: $black;
				transform: rotate( -90deg );
			}
		}
	}

	.popup-items {
		display: flex;
		align-items: center;
	}

	.popup-info {
		max-width: 350px;
		margin-right: 60px;
	}

	.popup-title {
		font-weight: $fw-semibold;
		font-size: 15px;
		line-height: 23px;
		color: $black;
		border-bottom: 2px solid $dark;
		margin-bottom: 15px;

		@media all and (min-width: $m) {
			font-size: 25px;
			line-height: 33px;
		}
	}

	.popup-text {
		font-weight: $fw-semibold;
		font-size: 15px;
		line-height: 22px;
		color: $black;
		margin-bottom: 12px;

		@media all and (min-width: $m) {
			font-size: 17px;
		}

		@media all and (min-width: $lg) {
			font-size: 22px;
		}
	}

	.popup-btn {
		margin-top: 40px;
		font-size: 15px;

		@media all and (min-width: $lg) {
			font-size: 20px;
		}
	}
}

.add-popup {
	padding: 10px;

	&-title {
		color: $black;
		font-size: 10px;
		font-weight: $fw-semibold;
		text-align: center;
		margin-bottom: 30px;

		@media all and (min-width: $m) {
			font-size: 19px;
		}
	}

	.whatsapp-form {
		flex-direction: column;
		align-items: flex-start;

		input {
			margin-bottom: 10px;
			font-size: 10px;

			@media all and (min-width: $m) {
				font-size: 16px;
			}
		}
	}

	.benefit-button {
		font-size: 10px;

		@media all and (min-width: $m) {
			font-size: 16px;
		}
	}

	.add-popup-close {
		position: absolute;
		right: -10px;
		top: -10px;
		width: 25px;
		height: 25px;
		cursor: pointer;
		transition: opacity ease $tr;
		border-radius: 50%;
		background: $accent;
		border: 2px solid $black;

		&:hover {
			opacity: $op;
		}

		span {
			position: absolute;
			top: 45%;
			left: 10%;
			display: block;
			width: 80%;
			height: 2px;
			background: $white;
			transform: rotate( 45deg );

			&::before {
				content: "";
				display: block;
				height: 2px;
				background: $white;
				transform: rotate( -90deg );
			}
		}
	}
}

.whatsapp-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;

	@media all and (min-width: $md) {
		align-items: flex-start;
	}

	@media all and (min-width: $md) {
		flex-direction: row;
	}

	input {
		width: 100%;
		max-width: 374px;
		height: 42px;
		font-family: $ff;
		font-weight: $fw-regular;
		font-size: 16px;
		line-height: 21px;
		color: $black;
		padding-left: 20px;
		margin-right: 10px;
		border: 0;
		margin-bottom: 10px;

		@media all and (min-width: $xl) {
			margin-bottom: 0;
		}

		&::placeholder {
			opacity: 1;
			color: $grey;
		}
	}
}

.whatsapp-button-wrapp {
	position: relative;
	display: flex;
	align-items: center;

	img {
		margin-left: 10px;
	}
}

.whatsapp-click {
	font-family: sans-serif;
	position: absolute;
	bottom: -25px;
	left: 0;
	font-weight: $fw-regular;
	font-size: 10px;
	line-height: 18px;
	color: $black;
	white-space: nowrap;

	@media all and (min-width: $sm) {
		font-size: 13px;
	}
}