.about-face {
	padding: 30px 0;

	.container {
		max-width: 1400px;
	}

	&-items {
		display: flex;
		flex-wrap: wrap;
	}

	.about-left {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 30px;	
	}

	&-text {
		width: 100%;
		font-family: $ff;
		font-weight: $fw-regular;
		margin-bottom: 30px;
		font-size: 15px;
		text-align: center;

		@media all and (min-width: $lg) {
			font-size: 23px;
		}
	}

	.about-right {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-wrapper {
			width: 250px;
			height: 400px;
			margin-bottom: 40px;

			@media all and (min-width: $md) {
				justify-content: flex-end;
				margin-bottom: 0;
			}

			@media all and (min-width: $lg) {
				width: 440px;
				height: 550px;
			}
		}
	}

	&-btn-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		display: none;

		@media all and (min-width: $md) {
			display: flex;
		}

		&.mobile {
			display: flex;

			@media all and (min-width: $md) {
				display: none;
			}
		}
	}

	&-button {
		font-size: 15px;

		@media all and (min-width: $xl) {
			font-size: 20px;
		}
	}

	h2 {
		text-align: center;
		margin-bottom: 40px;
		width: 100%;
	}

	.top-text {
		text-align: left;
		font-style: italic;

		strong {
			text-decoration: underline;
		}
	}

	.bottom-text {
		text-align: left;
	}
}