.thankyou-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $wheat;

	h1 {
		color: $accent;
		text-align: center;
		margin-bottom: 50px;
	}
}

.thanks-page {
	.button {
		margin-top: 30px;
	}
}